extends ../../base

block content
    main.main
        .card-container
            h2.heading-secondary Create a new sentence
            form.card.create-sentence-form(data-controller="CreateSentenceController")
                .card__details
                    .form__group(data-controller="AudioEditorController")
                        button.init(type="button") initialize audio editor
                        div.editor-container
                            button.play-button(type="button") play
                            button.save-button(type="button") save audio
                            button.record-button(type="button") record
                            div.audio-editor
                        input(type="hidden", name="audioUrl", required, data-human-name="Audio Recording")
                    .form__group
                        label.form__label(for='email') Spanish
                        input#spanish.form__input(name='sentence', type='text', placeholder='Spanish sentence', required)
                    .form__group
                        label.form__label(for='password') English
                        input#english.form__input(name='translation', type='text', placeholder='English sentence', required)
                    .form__group
                        label.form__label Level
                        input#level.form__input(name='level', type='number', max='9', placeholder='Level', required)
                    .form__group
                        label.form__label Vivaref
                        input#vivaRef.form__input(name='vivaRef', type='number', step='0.1', min='1', max='6' placeholder='Vivaref', required)
                    .form__group
                        label.form__label Tense
                        input#tense.form__input(name='tense', type='text', placeholder='Tense', required)
                    .form__group
                        label.form__label Grammar
                        input#grammar.form__input(name='grammar', type='text', placeholder='Grammar', required)
                    .form__group
                        button.btn.btn--green Submit


