extends ../../base

block content
    main.main
        .card-container
            h2.heading-secondary Create a new sentence
            form.card.create-sentence-form(data-controller="CreateSentenceController" data-accept-child="audioEditor")
                .card__details
                    .form__group
                        label.form__label(for='email') Spanish
                        input#spanish.form__input(name='sentence', type='text', placeholder='Spanish sentence', required)
                    .form__group
                        label.form__label(for='password') English
                        input#english.form__input(name='translation', type='text', placeholder='English sentence', required)
                    .form__group
                        label.form__label Vivaref
                        input#vivaRef.form__input(name='vivaRef', type='number', step='0.1', min='10', max='100' placeholder='Vivaref', required)
                    .form__group
                        label.form__label Tense
                        input#tense.form__input(name='tense', type='text', placeholder='Tense', required)
                    .form__group
                        label.form__label Grammar
                        div.form__input.form__input-grammar(data-controller="TagInputController")
                            -// the .tag-predictions input needs to NOT have a 'name' parameter
                            input.tag-predictions(type="hidden" value=JSON.stringify(grammar))
                            input.taglist(type="hidden" name="grammar" data-parse-as="json")
                            span.tag-holder
                            span.form__menu-holder
                                span.visible-input(contenteditable)
                                div.tag-menu
                        -//input#grammar.form__input(name='grammar', type='text', placeholder='Grammar', required)
                    .form__group(data-controller="AudioEditorController" data-expose-controller-as="audioEditor")
                        button.init.btn-recorder(type="button") Initialize voice recorder
                        div.editor-container
                            button.play-button.btn-playrecord(type="button") Play
                            button.record-button.btn-playrecord(type="button") Record
                            div.audio-editor
                    .form__group
                        button.btn.btn--green Submit


