extends ../../base

mixin row(name, completed, due, id)
    tr  
        td.td-left
            a.truncate-text(href=`/manage-tasks/${id}`) #{name}
        td #{completed}
        td #{due}

block content
    main.main
        div.card-container
            h2.heading-secondary.ma-bt-md Tasks set
            div.card
                table
                    thead
                        tr
                            th Task 
                            th Completed 
                            th.td-right Due
                            
                    tbody
                        each task in classData.tasks
                            +row(task.name, task.completed, task.dueDate.toDateString(), task.id)

