mixin content 
  block content
  if (user.role === 'teacher')
    include _sidebar
    
    block teacher-content 
  else if (user.role === 'user')
    block user-content

doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet' href='/css/comp.css')
      link(rel='shortcut icon' type='image/png' href='/img/brain-logo.png')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
      title MFL Trainer | #{title}
  
  body
    // HEADER 
    include _header      
    
    container.container
      // CONTENT
      if user
        +content
        
      // FOOTER
      include _footer
      
      script(src='/js/bundle.js')
