extends myclasses 

mixin row(name, completed, due)
    tr  
        td.td-left.truncate-text #{name}
        td #{completed}
        td #{due}

block primary
    .user-view__content
        .user-view__form-container
            h2.heading-secondary.ma-bt-md Tasks set
            table
                thead
                    tr
                        th Task 
                        th Completed 
                        th Due
                        
                tbody
                    each task in classData.tasks
                        +row(task.name, task.completed, task.dueDate.toDateString())
                        
            h2.heading-secondary.ma-bt-md Student list

