extends myclasses 

block primary   
    .user-view__content
        .user-view__form-container
            h2.heading-secondary.ma-bt-md Tasks set
     
            //- WITH API
            form.form.form-user-data
                .form__group
                label.form__label(for='name') Name
                input#name.form__input(type='text', value=`${user.name}`, required, name='name')
                .form__group.ma-bt-md
                label.form__label(for='email') Email address
                input#email.form__input(type='email', value=`${user.email}`, required, name='email')
                
                .form__group.right
                button.btn.btn--small.btn--green Save setting
            
            h2.heading-secondary.ma-bt-md Student list

