extends base

block content
    main.main
        .card-container.exercise-page   
            .card
                h2.heading-secondary(style= 'padding : 15px') Example exercise
                .card__details
                    audio(src="#" id="audio")
                    p.card__text= 'Get ready to Spanish!'
                    input.form__input.ma-bt-lg(placeholder='Answer goes here')
                    .form__group.ma-bt-lg
                        button.btn.btn--green.btn-answer Submit answer
                    br
                    br
                    label.form__label.triple__radio.col__one(for='gapped') Gapped
                    input#gapped.form__input.triple__radio.ma-tp-sm(type='radio', name='exercise', value='gapped',checked,  required)
                    label.form__label.triple__radio.col__one(for='translation') Translation
                    input#gapped.form__input.triple__radio.ma-tp-sm(type='radio', name='exercise', value='translation',  required)
                    label.form__label.triple__radio.col__one(for='transcription') Transcription
                    input#gapped.form__input.triple__radio.ma-tp-sm(type='radio', name='exercise', value='transcription', required)
                    .form__group.ma-bt-lg
                        button.btn.btn--green.btn-start(style='grid-column:3') Start
                    
        //- button.btn.btn--green.btn-exercise(id='gapped_questions') Gapped questions
        //- button.btn.btn--green.btn-exercise(id='translations') Translations
        //- button.btn.btn--green.btn-exercise(id='transcriptions') Transcription
