extends base

block content
    main.main
        .card-container
            h2.heading-secondary Set tasks
            form(data-controller='CreateTaskRandomController')
                div.card.card__create-task-main
                    div.task-name
                        label.form__label Task name
                        input.form__input.task-details(name='name' required placeholder='Task name')
                    div.due-date
                        label.form__label Due date
                        input.task-details(type='date' name='dueDate')
                    div.number-sentences
                        label.form__label No. of sentences
                        input.form__input.sentence-details(type='number', required, value=10, name='limit')
                    div.select-class
                        label.form__label Class
                        select.select-css.task-details(name='class')
                            each classes in user.class
                                option(value= classes.id) #{classes.name}
                    div.select-exercise-type
                        label.form__label Type of exercise
                        select.select-css.task-details(name='exercise')
                            option gapped 
                            option translation
                            option transcription
                //Vivaref ---------------------------
                div.card.card__create-task-secondary
                    label.form__label.label-vivaref-low Viva
                    div.check-vivaref-low
                        div.switch
                            input#switch-vivaref-low.switch-input(type='checkbox' name='vivaRefLow' checked)
                            label.switch-label(for='switch-vivaref-low')
                    input.form__input.vivaref-low(type='number', min=10, max=60, placeholder='Viva lower limit', value=10, required)
                    label.form__label.label-vivaref-high Viva upper limit
                    div.check-vivaref-high
                        div.switch(name='Hello')
                            input#switch-vivaref-high.switch-input(type='checkbox' name='vivaRefHigh')
                            label.switch-label(for='switch-vivaref-high')
                    input.form__input.vivaref-high(type='number', min=10, max=60, placeholder='Viva upper limit', value=60, required)
                    
                    //Levels--------------------
                    label.form__label.label-level-low GCSE level 
                    div.check-level-low
                        div.switch
                            input#switch-level-low.switch-input(type='checkbox', name='levelLow')
                            label.switch-label(for='switch-level-low')
                    input.form__input.level-low(type='number', min=1, max=9, placeholder='Viva lower limit', value=1, required)
                    label.form__label.label-level-high GCSE level upper limit 
                    div.check-level-high
                        div.switch
                            input#switch-level-high.switch-input(type='checkbox', name='levelHigh')
                            label.switch-label(for='switch-level-high')
                    input.form__input.level-high(type='number', min=1, max=9, placeholder='Viva upper limit', value=9, required)
                    
                    //Tense and grammar
                    div.select-tense
                        label.form__label Tense
                        select.select-css.sentence-details(name='tense')
                            option  
                            option Present
                            option Preterite
                            option Imperfect
                            option Future
                    div.select-grammar
                        label.form__label Grammar
                        select.select-css.sentence-details(name='grammar')
                            option   
                            option To be filled in
                    
                    button.btn.btn--green.set-tasks-button Submit
                    
                    


