extends base

block content
    main.main
        .card-container
            h2.heading-secondary Set tasks
            form.card.card__create-task-main
                div.number-sentences
                    label.form__label No. of sentences
                    input#sentencesLimit.form__input(type='number', required, value=10)
                div.select-class
                    label.form__label Class
                    select.select-css
                        each classes in user.class
                            option(value= classes.id) #{classes.name}
                div.select-exercise-type
                    label.form__label Type of exercise
                    select.select-css
                        option Gapped 
                        option Translation
                        option Transcription
            form.card.card__create-task-secondary
                label.form__label.label-vivaref-low Viva
                div.check-vivaref-low
                    div.switch
                        input#switch-vivaref-low.switch-input(type='checkbox')
                        label.switch-label(for='switch-vivaref-low')
                div.vivaref-low
                    input.form__input(type='number', min=10, max=60, placeholder='Viva lower limit', value=10, required)
                label.form__label.label-vivaref-high Viva upper limit
                div.check-vivaref-high
                    div.switch
                        input#switch-vivaref-high.switch-input(type='checkbox')
                        label.switch-label(for='switch-vivaref-high')
                div.vivaref-high
                    input.form__input(type='number', min=10, max=60, placeholder='Viva upper limit', value=60, required)
                
                //Levels--------------------
                label.form__label.label-level-low GCSE level 
                div.check-level-low
                    div.switch
                        input#switch-level-low.switch-input(type='checkbox')
                        label.switch-label(for='switch-level-low')
                div.level-low
                    input.form__input(type='number', min=1, max=9, placeholder='Viva lower limit', value=1, required)
                label.form__label.label-level-high GCSE level upper limit 
                div.check-level-high
                    div.switch
                        input#switch-level-high.switch-input(type='checkbox')
                        label.switch-label(for='switch-level-high')
                div.level-high
                    input.form__input(type='number', min=1, max=9, placeholder='Viva upper limit', value=9, required)
                
                //Tense and grammar
                div.select-tense
                    label.form__label Tense
                    select.select-css
                        option All 
                        option Present
                        option Preterite
                        option Imperfect
                        option Future
                div.select-grammar
                    label.form__label Type of exercise
                    select.select-css
                        option All 
                        option To be filled in
                
                button.btn.btn--green.set-tasks-button Submit
                
                


