extends base

block content
    main.main
        form.card
            .card__exercise
                div.card-text.card-text--bold Question text
                input.form__input(type='text', placeholder='Answer', required)
                button.btn.btn--green.btn--green__exercise Submit
                div.card-text Diffed answer
    script
        var sentences= !{JSON.stringify(sentences)}
        //The type of exercise is passed in as the pug variable 'exercise' and will be 'gapped', 'translation', or 'transcription'
