*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%; }

body {
  line-height: 1.6;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color: #777;
  padding: 3rem;
  min-height: 100vh;
  height: 100%; }

.container {
  height: 95%;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: minmax(min-content, 1fr) minmax(5rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(5rem, 1fr) [full-end]; }

.main {
  background-color: #f7f7f7;
  padding: 4rem 6rem;
  min-height: 100%;
  position: relative;
  grid-column: 2 / -1;
  grid-row: 1 / 2; }

@media only screen and (max-width: 50em) {
  .main {
    padding: 4rem 0rem; } }

.card-text {
  margin-bottom: 0.1rem;
  padding: 3rem 0;
  display: block;
  font-size: 1.6rem; }
  .card-text--bold {
    font-weight: 700; }
  .card-text--italic {
    font-size: 1.2rem;
    font-style: italic; }

.classlist-card__heading {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  color: transparent;
  letter-spacing: 0.2rem;
  -webkit-background-clip: text;
  padding: 3rem 0rem; }

a,
a:link,
a:visited {
  text-decoration: none;
  color: #0e79c9; }

a:hover {
  color: #004696;
  cursor: pointer; }

.nav {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(min-content, 4rem)) 1fr repeat(2, minmax(min-content, 4rem));
  grid-template-areas: 'logo first second third gap logout user';
  justify-items: center;
  align-items: center; }

@media only screen and (max-width: 40em) {
  .nav {
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr; } }

.nav__el,
.nav__el:link,
.nav__el:visited {
  color: #f7f7f7;
  text-transform: uppercase;
  font-size: 1.6rem;
  white-space: nowrap;
  text-decoration: none;
  align-items: center;
  text-align: center;
  transition: all 0.2s;
  font-weight: 400;
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit; }
  .nav__el:hover, .nav__el:active,
  .nav__el:link:hover,
  .nav__el:link:active,
  .nav__el:visited:hover,
  .nav__el:visited:active {
    transform: translateY(-2px);
    text-shadow: 0 0.7rem 1rem black; }
  .nav__el:not(:last-child),
  .nav__el:link:not(:last-child),
  .nav__el:visited:not(:last-child) {
    margin-right: 3rem; }
  .nav__el:focus,
  .nav__el:link:focus,
  .nav__el:visited:focus {
    outline: none; }
  .nav__el--me,
  .nav__el:link--me,
  .nav__el:visited--me {
    grid-row: 7 / 8; }

@media only screen and (max-width: 37.5em) {
  .nav__el:not(:last-child) {
    margin-right: 0;
    margin-bottom: 1.2rem; } }

.nav__el--loginout {
  grid-column: logout; }

.nav__el--me {
  grid-column: user; }

.btn,
.btn:link,
.btn:visited {
  font-size: 1.6rem;
  padding: 1.4rem 3rem;
  margin: 0 1rem;
  border-radius: 10rem;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  position: relative;
  transition: all 0.4s;
  font-weight: 400;
  backface-visibility: hidden;
  /*Add later when we use this for the button in form*/
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }

.btn:focus {
  outline: none;
  background-color: #2e864b; }

.btn--white {
  background-color: #fff;
  color: #777; }

.btn--white::after {
  background-color: #fff; }

.btn--green {
  background-color: #55c57a;
  color: #fff; }
  .btn--green__exercise {
    grid-column: 2;
    grid-row: 2; }
  .btn--green__classlist-card {
    font-size: 1rem !important;
    padding: 0.8rem 1.7rem !important;
    margin: 1rem !important; }

@media only screen and (max-width: 40em) {
  .btn--green__exercise {
    grid-column: 1;
    grid-row: 3; } }

.btn--green::after {
  background-color: #55c57a; }

.btn--small {
  padding: 1.25rem 3rem !important;
  font-size: 1.4rem !important; }

.btn-small,
.btn-small:link,
.btn-small:visited {
  background-color: #55c57a;
  color: #fff;
  font-size: 1.4rem;
  padding: 1.25rem 3rem;
  border-radius: 10rem;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  text-decoration: none;
  font-weight: 400;
  border: none; }

.btn-small:hover {
  background-color: #7dd56f; }

.btn-text:link,
.btn-text:visited {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  transform: translateY(0);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }

.btn-text:focus {
  outline: none;
  outline: 3px solid #55c57a;
  outline-offset: 3px; }

.btn-exercise {
  top: 25rem;
  left: 25%; }

.card {
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: 0.3s all;
  backface-visibility: hidden;
  padding: 3rem;
  max-width: 900px;
  margin: 0 auto; }
  .card__exercise {
    display: grid;
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: 4fr 1fr;
    grid-auto-flow: column; }
  .card__exercise-list {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-auto-flow: row; }
  .card__create-task-main {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'number class type'; }
  .card__create-task-secondary {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 6fr 1fr 6fr;
    grid-template-areas: 'label-vivaref-low label-vivaref-low label-vivaref-high label-vivaref-high' 'check-vivaref-low vivaref-low check-vivaref-high vivaref-high' 'label-level-low label-level-low label-level-high label-level-high' 'check-level-low level-low check-level-high level-high' 'tense tense grammar grammar' 'button button button button'; }

@media only screen and (max-width: 40em) {
  .card__exercise {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content); } }

.form__input {
  display: block;
  font-family: inherit;
  font-size: 1.5rem;
  color: inherit;
  padding: 1rem 1rem;
  border: none;
  width: 100%;
  background-color: #fff;
  background-color: #f2f2f2;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
  border-radius: 4px; }

.form__input:focus {
  outline: none;
  border-bottom: 3px solid #55c57a; }

.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730; }

.form__input::-webkit-input-placeholder {
  color: #bbb; }

.form__label {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.1rem; }

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px; }

.switch-input {
  display: none; }

.switch-label {
  display: block;
  width: 48px;
  height: 24px;
  text-indent: -150%;
  clip: rect(0 0 0 0);
  color: transparent;
  user-select: none; }

.switch-label::before,
.switch-label::after {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer; }

.switch-label::before {
  width: 100%;
  height: 100%;
  background-color: #dedede;
  border-radius: 9999em;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease; }

.switch-label::after {
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  -webkit-transition: left 0.25s ease;
  transition: left 0.25s ease; }

.switch-input:checked + .switch-label::before {
  background-color: #89c12d; }

.switch-input:checked + .switch-label::after {
  left: 24px; }

/* class applies to select element itself, not a wrapper element */
.select-css {
  display: block;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  max-height: 4rem;
  max-width: 100%;
  /* useful when width is set to anything other than 100% */
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  /* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient. 
    for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference
    
  */
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
  background-position: right 0.7em top 50%, 0 0;
  /* icon size, then gradient */
  background-size: 0.65em auto, 100%; }

/* Hide arrow icon in IE browsers */
.select-css::-ms-expand {
  display: none; }

/* Hover style */
.select-css:hover {
  border-color: #888; }

/* Focus style */
.select-css:focus {
  border-color: #aaa;
  /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none; }

/* Set options to normal weight */
.select-css option {
  font-weight: normal; }

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir='rtl'] .select-css,
:root:lang(ar) .select-css,
:root:lang(iw) .select-css {
  background-position: left 0.7em top 50%, 0 0;
  padding: 0.6em 0.8em 0.5em 1.4em; }

/* Disabled styles */
.select-css:disabled,
.select-css[aria-disabled='true'] {
  color: graytext;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%); }

.select-css:disabled:hover,
.select-css[aria-disabled='true'] {
  border-color: #aaa; }

table {
  color: #656d78;
  word-wrap: break-word;
  line-height: 20px;
  box-sizing: border-box;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent;
  max-width: 100%;
  width: 100%;
  margin-bottom: 0;
  table-layout: fixed; }

thead {
  word-wrap: break-word;
  line-height: 20px;
  border-collapse: collapse;
  border-spacing: 0;
  box-sizing: border-box; }

tbody {
  word-wrap: break-word;
  line-height: 20px;
  border-collapse: collapse;
  border-spacing: 0;
  box-sizing: border-box;
  font-size: 1.3rem; }

th {
  border-spacing: 0;
  box-sizing: border-box;
  text-align: left;
  line-height: 1.42857;
  vertical-align: bottom;
  font-weight: 400;
  font-size: 1.4rem;
  position: relative;
  padding: 15px;
  border: 1px solid #ddd;
  background-color: #f6f7fb;
  color: #333;
  width: 40%;
  border-top: 0;
  border-left: 0; }
  th:first-child {
    width: 80%; }

tr:nth-child(even) {
  background-color: #f6f7fb; }

td {
  line-height: 1.42857;
  vertical-align: top;
  border-left: 1px solid #ddd;
  border-top: 0;
  padding: 10px; }

.td-left {
  border-left: 0; }

.td-right {
  border-right: 0; }

.truncate-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25); }

.alert--success {
  background-color: #20bf6b; }

.alert--error {
  background-color: #eb4d4b; }

/*---Topline selections ---*/
.number-sentences {
  grid-area: number; }

.select-class {
  grid-area: class; }

.select-exercise-type {
  grid-area: type; }

/*---VIVAREFS ---*/
.label-vivaref-low {
  grid-area: label-vivaref-low; }

.check-vivaref-low {
  grid-area: check-vivaref-low; }

.vivaref-low {
  grid-area: vivaref-low; }

.label-vivaref-high {
  grid-area: label-vivaref-high; }

.check-vivaref-high {
  grid-area: check-vivaref-high; }

.vivaref-high {
  grid-area: vivaref-high; }

/*---LEVELS ---*/
.label-level-low {
  grid-area: label-level-low; }

.check-level-low {
  grid-area: check-level-low; }

.level-low {
  grid-area: level-low; }

.label-level-high {
  grid-area: label-level-high; }

.check-level-high {
  grid-area: check-level-high; }

.level-high {
  grid-area: level-high; }

/*--- GRAMMAR AND TENSE ---*/
.select-grammar {
  grid-area: grammar; }

.select-tense {
  grid-area: tense; }

/*---BUTTON ---*/
.set-tasks-button {
  grid-area: button;
  margin: 2rem 10% 0 10%; }

.user-view {
  background-color: #fff;
  max-width: 120rem;
  margin: 0 auto;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
  display: flex; }
  .user-view__menu {
    flex: 22rem 0 0;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#7dd56f), to(#28b487));
    background-image: linear-gradient(to right bottom, #7dd56f, #28b487);
    padding: 4rem 0; }
  .user-view__content {
    flex: 1;
    padding: 7rem 0; }
  .user-view__form-container {
    max-width: 68rem;
    margin: 0 auto;
    padding: 0 8rem; }

.classlist-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 5rem; }

.classlist-card {
  display: grid;
  grid-template-rows: 2fr 1fr;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-items: center;
  background-color: #fff; }
  .classlist-card__footer {
    border-top: 1px solid #f1f1f1;
    background-color: #f7f7f7;
    grid-column: 1/-1;
    align-self: normal;
    justify-self: normal;
    display: grid;
    align-items: center;
    justify-items: center; }

.footer {
  background-color: #f7f7f7;
  padding: 3rem 4rem;
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 0.75rem;
  justify-content: space-between;
  grid-row: 2 / 3;
  grid-column: 1 / -1; }

@media only screen and (max-width: 50em) {
  .footer {
    grid-template-columns: 1fr;
    grid-row-gap: 1.25rem;
    justify-items: center; } }

.footer__logo {
  grid-row: 1 / 3;
  align-self: center; }

@media only screen and (max-width: 50em) {
  .footer__logo {
    grid-row: 1; } }

.footer__logo img {
  height: 3rem; }

.footer__nav {
  list-style: none;
  display: flex;
  justify-content: flex-end; }

.footer__nav li {
  margin-left: 1.5rem; }

.footer__nav a {
  color: #777;
  text-decoration: none !important;
  transition: all 0.2s; }

.footer__nav a:hover,
.footer__nav a:active {
  color: #55c57a; }

.footer__copyright {
  justify-self: end;
  color: #999; }

@media only screen and (max-width: 50em) {
  .footer__copyright {
    justify-self: center; } }

.header {
  background-color: #444;
  padding: 1rem 5rem; }
  .header--logo img {
    height: 3.5rem;
    padding: 0 2rem; }

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-image: linear-gradient(to right bottom, #7dd56f, #28b487);
  padding: 4rem 0; }

.side-nav {
  list-style: none; }

.side-nav li {
  margin: 1rem 0;
  border-left: 0 solid #fff;
  transition: all 0.3s; }

.side-nav--active,
.side-nav li:hover {
  border-left: 4px solid #fff !important; }

.side-nav--active a {
  transform: translateX(-3px); }

.side-nav a:link,
.side-nav a:visited {
  padding: 1rem 4rem;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.3s; }

.side-nav a:hover,
.side-nav a:active {
  transform: translateX(3px); }

.side-nav svg {
  height: 1.9rem;
  width: 1.9rem;
  fill: #f7f7f7;
  margin-right: 2rem; }

.admin-nav {
  margin-top: 5.5rem; }

.admin-nav__heading {
  margin: 0 5rem 1.5rem 4rem;
  padding-bottom: 3px;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #f2f2f2;
  border-bottom: 1px solid currentColor; }

.row-two-col-two {
  grid-row: 2 / 3;
  grid-column: 2 / 3; }
