.form__input {
  display: block;
  font-family: inherit;
  font-size: 1.5rem;
  color: inherit;
  padding: 1rem 1rem;
  border: none;
  width: 100%;
  background-color: #fff;
  background-color: #f2f2f2;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
  border-radius: 4px;
}
.form__input:focus,
.form__input .visible-input:focus {
  outline: none;
  border-bottom: 3px solid #55c57a;
}
.form__input:focus:invalid,
.form__input .visible-input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form__input::-webkit-input-placeholder {
  color: #bbb;
}

.form__tag {
  background-color: #dddddd;
  padding: 0.4rem;
  border-radius: 0.7rem;
  margin-right: 0.4rem;
}

.form__label {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.1rem;
}
