mixin row(sentence, isSaved)
    tr
        td
            if isSaved
                input(type="checkbox" checked data-sentence_id=sentence.data._id)
            else
                input(type="checkbox" data-sentence_id=sentence.data._id)
        each field in fields
            td
                =sentence.data[field]
  

table.sentence-table
    colgroup
        col.selected-toggle.narrow
        each field in fields
            col(class=(fieldClasses[field] || ''))
    tbody
        tr
            th
                -// empty
            each field in fields
                th
                    =field
        each sentence in saved
            +row(sentence, true)
        each sentence in sentences
            +row(sentence, false)
