mixin row(sentence, options)
    tr(class=(options.disabled ? 'disabled' : ''))
        td
            if options.saved
                input(type="checkbox" checked data-sentence_id=sentence.data._id)
            else
                if !options.disabled
                    input(type="checkbox" data-sentence_id=sentence.data._id)
                else
                    input(type="checkbox" disabled)
        each field in fields
            td
                =sentence.data[field]
  

table.sentence-table
    colgroup
        col.selected-toggle.narrow
        each field in fields
            col(class=(fieldClasses[field] || ''))
    tbody
        tr
            th
                -// empty
            each field in fields
                th
                    =field
        each sentence in saved
            +row(sentence, {saved: true})
        each sentence in sentences
            +row(sentence, {disabled: savedIds.includes(sentence.data._id)})
