.classlist-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 5rem;
}

.classlist-card {
  display: grid;
  grid-template-rows: 2fr 1fr;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-items: center;
  background-color: #fff;
  &__footer {
    border-top: 1px solid #f1f1f1;
    background-color: #f7f7f7;
    grid-column: 1/-1;
    align-self: normal;
    justify-self: normal;
    display: grid;
    align-items: center;
    justify-items: center;
  }
}
