.answer-feedback {
  .highlight-right {
    color: green;
  }
  .highlight-wrong {
    color: red;
  }
}

.correct-answer {
  .highlight-right {
    // leave the default style
  }
  .highlight-wrong {
    color: orange;
  }
}

.card-text.standin-for-input {
  padding: 10px;
}

.answer-feedback-inner,
.correct-answer-inner {
  font-weight: bold;
}

.audio-area {
  img.play-audio {
    height: 3.5rem;
  }
}
