mixin js-value(name, value)
    -// TODO: move this mixin into a global pug file (maybe `base.pug`? or a mixins helper file?)
    input.js-value(type="hidden" name=name value=JSON.stringify(value))

mixin card_title()
    div.card-title.card-text.card-text--bold Question text

mixin audio_area()
    div.audio-area
        audio.sentence-audio
        img.play-audio(src="/img/play_audio.png")
        div.help-text
            |press "[" to replay
