extends ../base

mixin js-value(name, value)
    -// TODO: move this mixin into a global pug file (maybe `base.pug`? or a mixins helper file?)
    input.js-value(type="hidden" name=name value=JSON.stringify(value))

block content
    main.main
        form.card(data-controller=controller)
            .card__exercise
                div.card-title.card-text.card-text--bold Question text
                div.student-answer
                    input.form__input(type='text', name='student_answer', placeholder='Answer', required, autocomplete="off")
                    span.answer-feedback.card-text.standin-for-input
                        ="Your answer: " /* JS string so that the trailing space is easier to spot */
                        span.answer-feedback-inner
                div.correct-answer.card-text
                    ="Correct answer: " /* JS string so that the trailing space is easier to spot */
                    span.correct-answer-inner
                div.audio-area
                    audio.sentence-audio
                    img.play-audio(src="/img/play_audio.png")
                    div.help-text
                        |press "[" to replay
                div.buttons
                    button.btn.btn--green.btn--green__exercise(type="submit") Submit
                    button.btn.btn--green.btn--green__exercise.btn-next(type="button") Next
                div.accents-area
                    button.btn-accent(name='á') á
                    button.btn-accent(name='é') é
                    button.btn-accent(name='í') í
                    button.btn-accent(name='ó') ó
                    button.btn-accent(name='ú') ú
                    button.btn-accent(name='ñ') ñ
                div.answer-counts.card-text
                    span.right-count
                    =" / "
                    span.total-count
                    =" sentences answered"
        for value, key in frontendVariables
            +js-value(key, value)
