extends ../../base

block content
  main.main
    .classlist-container
      .classlist-card
        h2.class-name-heading Random sentences
        div.classlist-card__footer
          a.btn.btn--green.btn--green__classlist-card(href='/create-task-random') CREATE TASK

      .classlist-card
        h2.class-name-heading Choose sentences
        div.classlist-card__footer
          a.btn.btn--green.btn--green__classlist-card(href='/create-task-select') CREATE TASK