extends ../../base

mixin classcard(className, classId)
  .classlist-card
    h2.class-name-heading #{className}
    div.classlist-card__footer
      a.btn.btn--green.btn--green__classlist-card(href=`/manage-classes/${classId}`) Manage class      

block content
  main.main
    .classlist-container
      each group in classData
        +classcard(group.name, group.id)
        